  /* background-color: rgb(198, 36, 55) !important; */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

:root{
    --red-colour:rgb(219, 51, 64);
    --red-dark-color:rgb(198, 36, 55);
    --black:#242424;
    --light-color:#666;
    --side-borders: 2px solid rgba(0, 0, 0, 0.2);
}

/* top items */
.droppbtnn {
  background-color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: -1px;
  gap: 0;
  border-top: none;
}
.d2{
  border-left: none;
}

.d3{
  border-left: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--light-color);
  pointer-events: none;
  border-right: none;
}

.droppdownn {
  position: relative;
  display: inline-block;
}

.droppdownn-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 1;
}

.droppdownn-content a {
  color: var(--light-color);
  padding: 12px 16px;
  font-weight: 500;
  font-size: 12px ;
  text-decoration: none;
  display: block;
}

.droppdownn-content a:hover {color: var(--red-colour);}

.droppdownn:hover .droppdownn-content {display: block;}

.droppdownn:hover .droppbtnn {color: var(--light-color);}
/* top items end */

/* navbar */
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    /* font-size: 3rem; */
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
}

.btnnnnn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btnnnnn:hover{
    background:var(--dark-color);
}

.headerr .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerr .header-1 .search-form{
    width: 50%;
    height:3rem;
    border: .1rem solid rgba(0,0,0,.1);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
}

.headerr .header-1 .search-form input{
    font-size: 1rem;
    padding: 0 1.2rem;
    outline: none;
    border:none;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.headerr .header-1 .search-form label{
    font-size: 20px;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.headerr .header-1 .search-form label:hover{
    color: var(--light-color);
}

.headerr .header-1 .icons div,
.headerr .header-1 .icons a{
    font-size: 22px;
    text-decoration: none;
    margin-left: 16px;
    color:var(--black);
    cursor: pointer;
}

.headerr .header-1 .icons div:hover,
.headerr .header-1 .icons a:hover{
    color: var(--light-color);
}

#search-btnnnnn{
    display: none;
}

#search-btn{
    display: none;
}

.headerr .header-2{
    background: var(--red-colour);
}

.headerr .header-2 .navbarrr{
    text-align: start;
    margin-left: 20px;
}

.headerr .header-2 .navbarrr a{
    color:#fff;
    font-size: 14px;
    display: inline-block;
    padding: 16px;
    transition:all .2s linear;
}

.headerr .header-2 .navbarrr a:hover{
    background: #C62437;
    transition:all .2s linear;
}

.headerr .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background: var(--red-colour);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
    box-shadow: 0 0 9px rgb(0 0 0 / 12%);
    background-color: #fff;
}

.bottom-navbar a{
    font-size: 20px;
    padding: 16px;
    margin: 0px 16px;
    color:black; 
    transition:all .2s linear;
}

.bottom-navbar a:hover{
    color: rgba(0, 0, 0, 0.6);
    transition: all .2s linear;
}

/* dropdown */
.dropdownn {
  border: none;
  position: relative;
  display: inline-block;
}



#drop1st{
    background-color: #fff;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    width: 100%;
}
#drop1st:hover{
    background-color: #F7F7F7;
    transition: 0.1s ease-in-out;
    color: #A5A5A5;
}
#droplast{
    background-color: #fff;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    width: 100%;
}
#droplast:hover{
    background-color: #F7F7F7;
    transition: 0.1s ease-in-out;
    color: #A5A5A5;
}
#drop{
    background-color: #fff;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    width: 100%;
}
#drop:hover{
    background-color: #F7F7F7;
    transition: 0.1s ease-in-out;
    color: #A5A5A5;
}

.dropdownn-content:hover{
    background-color: #F7F7F7;
}
.dropdownn-content {
  display: none;
  position: absolute;
  width: 285px;
  z-index: 1;
}

.dropdownn-content a {
  color: black;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: block;
}

.dropdownn:hover .dropdownn-content {display: block;}

/* bottom navbar category */

.ssp a {
  padding: 12px 8px 8px 12px;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  color: #333333;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}
.ssp a:hover{
    /* color: #A5A5A5; */
    color: var(--red-colour);
}

#offcanvasExample{
  width: 60%;
}

.bottom-nav-cat{
    color: rgba(0, 0, 0, 0.6);
}
.bottom-nav-cat:hover{
    color: black;
}
.menu-border-bottom{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

/* bottom navbar category end*/
/* navbar end*/





/* banner image */
.wrapper{
font-family:sans-serif;
width: 50%;
margin: 0 auto;
position:relative;
}
.banner-image{
opacity: 1;
display: block;
width:100%;
height: auto;
transition: .5s ease;
}
.content{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-transform: uppercase;
font-size: 60px;
color:#fff;
white-space: nowrap;
overflow: hidden
}
.content a{
font-size: 20px;
display: block;
text-decoration: none;
background-color: transparent;
color: white;
border: 2px solid rgb(68, 68, 68);
border-radius: 40px;
text-align: center;
padding: 8px  30px;
cursor: pointer;
transition: 0.3s ease-in-out;
}
.content a:hover{
  border-color: black;
  transition: 0.3s ease-in-out;
}
.overlay{
opacity: 0
}
.wrapper:hover img{
opacity: 0.7
}
.wrapper:hover .overlay{
opacity: 1
}
/* banner image end */





/* products section */
/* heading-1 */
.beautyproductsheading h4{
  line-height: 22px;
font-size: 22px;
color: #242424;
font-weight: 600;
margin: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.beautyproductsheading h5{
margin: 12px;
}
.beautyproductsheading h5::after{
content: "";
height: 2px;
margin: -3px;
width: 36vh;
background-color: var(--red-dark-color);
display: block;
}
/* heading-1 end */


/* heading-2 */
.accessoriesproductsheading{
  text-align: center;
  justify-content: center;
}
  .accessoriesproductsheading h4{
  line-height: 22px;
font-size: 22px;
color: #242424;
font-weight: 600;
margin: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.accessoriesproductsheading h5{
margin: 12px;
}
.accessoriesproductsheading h5::after{
content: "";
height: 2px;
margin: -3px;
margin-left: 45%;
width: 20vh;
background-color: var(--red-dark-color);
display: block;
}
/* heading-2 end */





.main-div-beauty-products{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.beauty-products{
  width: 100%;
  justify-content: center;
  text-align: center;
}
.products{
  justify-content: center;
  text-align: center;
  width: 180px;
}
.products img{
  width: 130px;
}
.products-data{
  line-height: 14px;
  margin-top: 12px;
}
.products-data .product-name,a{
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: #333333;
}
.products-data .product-name:hover{
  color: #A5A5A5;
}
.products-data #beautty{
  font-size: 13.3px;
  font-weight: 400;
  color: #A5A5A5;
}
.products-data #beautty:hover{
  color: #333333;
}
.products-data #rate{
  font-size: 14px;
  font-weight: 400;
  color: #db3340;
}
/* tooltip */
.tooltips-icons{
  margin-top: 20px;
}
.tooltip-hs {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-hs i{
  padding: 6px;
  font-size: 18px;
  color: black;
}
.tooltip-hs i:hover{
  opacity: 0.7;
}
.sideborder{
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}
.tooltip-hs .tooltiptext-hs {
  visibility: hidden;
  width: 100px;
  font-size: 13px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 84%;
  margin-left: -60px;
}

.tooltip-hs .tooltiptext-hs::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-hs:hover .tooltiptext-hs {
  visibility: visible;
}
/* tooltip end*/


/* quick view modal */
  /* The Modal (background) */
  .modal-1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-1 {
    background-color: #fefefe;
    margin: auto;
    border-radius: 0px;
    border: 1px solid #888;
    width: 70%;
    margin-bottom: 75px;
    height: auto;
    overflow: hidden;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    margin-right: 16px;
    margin-left: 820px;
    position: relative;
    font-size: 28px;
    overflow: hidden;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .w3-animate-left{
    position:relative;
    animation:animateleft 0.4s
  } 
  @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

  /* Modal content end */
  .for-modal {
    position: relative;
    width: 100%;
    max-width: 90%;
    /* overflow: hidden; */
  }
  
  .image-modal {
    display: block;
    width: 100%;
    height: 80%;
    padding-bottom: 10px;
  }
  
  .overlay-modal {
    position: absolute; 
    bottom: 0; 
    background: rgb(219, 51, 64);
    color: #f1f1f1; 
    width: 100%;
    height: 40px;
    transition: 0.5s ease-in-out;
    opacity:0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0px;
    text-align: center;
    overflow: hidden;
    bottom: -200px
  }
  
  .for-modal:hover .overlay-modal {
    opacity: 1;
    bottom: 0px;
  }
  .for-modal:hover{
  overflow: hidden;
  }
  /* Modal content */
  .product-name-modal{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #333333;
  }
  .product-name-modal:hover{
    transition: 0.3s ease-in-out;
    color: #A5A5A5;
  }
  .product-price-modal{
    color: #DB3340;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
  }
  .cardmaindiv{
    display: flex;
    gap: 10px;
  }
  .cardbutton button{
    padding: 9px 18px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
  }
  .cardbutton button:hover{
    background-color: #C62437;
    border-color: #C62437;
    transition: 0.3s ease-in-out;
  }
  .addproducttt{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.number{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 6px 15px;
}
.minus{
    padding: 6px 6px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.minus:hover{
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
    color: white;
    transition: 0.3s ease-in-out;
}
.plus{
    padding: 6px 6px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.plus:hover{
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
    color: white;
    transition: 0.3s ease-in-out;
}
.modal-cat{
  font-size: 13.3px;
  font-weight: 300;
  color: #A5A5A5;
}
.modal-cat b{
  color: black;
  font-weight: 500;
}
.modal-cat i{
  margin: 4px;
  cursor: pointer;
}
.modal-cat i:hover{
  color: #333333;
}
/* quick view modal end*/

/* products section end */




/* ------End Section----------- */

.delivery-last{
  background-color: #DB3340;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.delivery-child{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-align: center;
}
.delivery-child span{
  margin-left: 12px;
  font-weight: 900;
}
.d-1{
  margin: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ourlocation{
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
}
.ourlocation i{
  margin-right: 10px;

}
/* ------End Section----------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .beautyproductsheading h5::after{
    width: 42vh;
    }
    .accessoriesproductsheading h5::after{
      margin-left: 36%;
      width: 23vh;
      }
  .bottom-navbar a{
    padding: 10px;
    margin: 0px 10px;
}
  .wrapper{
    width: 80%;
    }
  .content a{
    font-size: 12px;
    padding: 4px  15px;
  }
  .products{
    width: 185px;
    /* margin: 25px; */
  }
  .products img{
    width: 160px;
  }
  #side-images{
    display: none;
  }
  .overlay-modal {
    height: auto;
    font-size: 13px;
    overflow: hidden;
  }
  .modalinnerpad{
    padding: 25px;
  }
  .cardbutton button{
    padding: 6px 14px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
  }
  .addproducttt{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
}
.number{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 4px 13px;
}
.minus{
    padding: 4px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.plus{
    padding: 4px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.product-name-modal{
  font-size: 20px;
  font-weight: 500;
}
.for-modal {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.for-modal .overlay-modal {
  opacity: 1;
  bottom: 0px;
}
.modal-content-1 {
  width: 90%;
  height: auto;
  overflow: hidden;
}
#small-screen-margin{
  padding-top: 16px;
}
.to-top{
  margin-bottom: 38px;
  width: 10px;
  height: 10px;
}
}


@media only screen and(max-width: 400px) {
  
}
@media only screen and (max-width: 600px) {
  #side-images{
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .beautyproductsheading h5::after{
    width: 42vh;
    }
    .accessoriesproductsheading h5::after{
      margin-left: 42%;
      width: 22vh;
      }
  .wrapper{
    width: 100%;
    }
  .content a{
    font-size: 14px;
    padding: 6px  22px;
  }
  .overlay-modal {
    height: auto;
    font-size: 13px;
    overflow: hidden;
  }
  .modalinnerpad{
    padding: 25px;
  }
  .overlay-modal {
    height: auto;
    font-size: 13px;
    overflow: hidden;
  }
  .cardbutton button{
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
  }
  .addproducttt{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
}
.number{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 4px 13px;
}
.minus{
    padding: 4px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.plus{
    padding: 4px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.product-name-modal{
  font-size: 20px;
  font-weight: 500;
}
.product-name-modal{
  font-size: 20px;
  font-weight: 500;
}
.image-modal {
  display: block;
  width: 100%;
  height: 80%;
}
.for-modal {
  position: relative;
  width: 100%;
  max-width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .beautyproductsheading h5::after{
    width: 37vh;
    }
    .accessoriesproductsheading h5::after{
      margin-left: 44.5%;
      width: 21vh;
      }
  .wrapper{
    width: 50%;
    }
  .content a{
    font-size: 16px;
    padding: 7px  26px;
  }
  .modalinnerpad{
    padding: 30px;
  }
  .cardbutton button{
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: rgb(219, 51, 64);
    border-color: rgb(219, 51, 64);
  }
  .addproducttt{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.number{
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding: 3px 12px;
}
.minus{
    padding: 3px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.plus{
    padding: 3px 4px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
/* media queries  */

@media (max-width:991px){
  .headerr .header-1{
      padding:2rem;
  }

}

@media (max-width:768px){

  .top-item{
    display: none;
  }

  .headerr .header-2{
      display:none;
  }

  .bottom-navbar{
      display: block;
  }

  #search-btnnnnn{
      display: inline-block;
  }

  .headerr .header-1{
      box-shadow: var(--box-shadow);
      position: relative;
  }

  .headerr .header-1 .search-form{
      position:absolute;
      top:-115%;
      width: 90%;
      box-shadow: var(--box-shadow);
  }

  .headerr .header-1 .search-form.active{
      top: 90%;
      transition: all 0.5s;
  }

  .home .row .content{
      text-align: center;
  }

  .home .row .content h3{
      font-size: 3.5rem;
  }

  .newsletter{
      background-position: right;
  }

  .newsletter form{
      margin-left:0;
      max-width: 100%;
  }

}
@media screen and (max-height: 450px) {
  .sideenav {padding-top: 15px;}
  .sideenav a {font-size: 18px;}
}

.to-top{
  background-color: #FFFFFF;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  box-shadow: 0 0 5px rgb(0 0 0 / 17%);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.to-top i{
  color: black;
  font-size: 22px;
}
.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}